/* Tüm HTML elementlerini sıfırlıyoruz */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
    margin: 0; /* margin = dış boşluk (sıfırlıyoruz) */
    padding: 0; /* padding = iç boşluk (sıfırlıyoruz) */
    box-sizing: border-box; /* border ve padding dahil ölç */
}

body {
    display: flex;
    justify-content: center; /* YATAY ortala */
    align-items: center; /* DİKEY ortala */
    height: 100vh; /* Sayfa yüksekliği kadar alan aç */
    font-family: "Figtree", sans-serif;
    background-color: #f6d050;
}

.main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px;
    border-radius: 10px;
    margin: 10px;
}

.main img {
    border-radius: 10px;
    margin: 10px !important;
}

.main p {
    color: hsl(0, 0%, 42%);
    font-weight: 400;
    font-size: 16px;
}
.left-content {
    margin-left: 10px;
}
#learning-title {
    color: black;
    background-color: #f6d050;
    padding: 5px;
    border-radius: 8px;
    font-weight: 800;
}
.published-text {
    padding-top: 10px;
}
.person-area {
    display: flex; /* Elemanları yatayda hizalamak için Flexbox kullanılıyor */
    align-items: center; /* Resim ve yazıyı dikeyde ortalamak için */
    justify-content: flex-start !important; /* Sola hizalamak için */
}

.avatar-png {
    height: 50px; /* Resmin yüksekliğini ayarlıyoruz */
    width: 50px !important;
}

.name-text {
    font-size: 16px; /* Yazının boyutunu ayarlayabilirsin */
    font-weight: bold; /* Yazının kalın olmasını sağlamak için */
}

@media only screen and (min-width: 1536px) {
    .main {
        width: 15%;
    }
}

@media only screen and (max-width: 1536px) and (min-width: 1280px) {
    .main {
        width: 20%;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .main {
        width: 25%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .main {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
    .main {
        width: 35%;
    }
}

@media only screen and (max-width: 640px) {
    .main {
        width: 50%;
    }
}
